body,html
{
	margin: 0;
}
.posts
{
	border-color: red;
	border:1px solid;
	width: 500px;
}
.nav-bar
{
	float: left;	
	border-color: green;
	border:3px solid;
	width: 100%;
	height: 50px;
}
.timetable
{
 
}
