*, *:before, *:after {box-sizing:  border-box !important;}


.row {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}

.well {
  background-color: white;
 position:relative;
 display: block;
}