$purple : #8246af;
body{
	background-color:#F4F4F4;
}
.timetable{
	height:600px;
	width:1000px;
	tbody{
		border:none;
	}
	tr{
		border:none;
		//background:green;
	}
	td{
		border:0px solid white;
		//background:blue;
	}
	.time{
		height:30px;
	}
	.head{
		text-align: center;
		background:#5A5A5A;
		color: white;
	}
	.even{
		background:#f2f2f2;
	}
}


.profile-cover{
	min-height:300px;
	max-height:500px;
	//background-image: url(../pic/profile-cover.jpeg);
	background-color:white;
	background-size: cover;
	border: 0px solid white;
	position: relative;
}
.profile-details{
	color:black;
	height:300px;
	width:300px;
	position:absolute;
	top:40px;
	text-align:center;
	//background-color:white;
}
.profile-pic{
	width:180px;
	height:180px;
	margin:0 auto;
	background-image: url(../pic/user.jpeg);
	background-size: cover;
	border:5px solid white;
}
.biograph{
	margin-top:30px;
	margin-bottom:30px;
	p.fr{
		font-size:24px;
		b{
			font-size:26px;
		}
	}
}
.add-btn{
	text-decoration: none;
	color:white;
	font-size:50px;
	bottom: 30px;
	right:30px;
	z-index: 1;
	position:fixed;
    padding: 0px 18px; 
    background: red;
    width: 65px;
    height:65px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 10px 74px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 10px 74px -5px rgba(0,0,0,1);
	box-shadow: 0px 10px 74px -5px rgba(0,0,0,1);
}
.add-btn:hover{
	background: #CC0000;
	text-decoration: none;
	color:white;
}


.index-body{
	width:100%;
	height:100%;
	background-image: url(../pic/index-bg.jpg);
	background-size:cover;
	background-repeat: none;
	background-position: fixed;
}

.bg-blue{
	background:blue;
	height:100%;
}
.right-text{
	text-align:right;
}
.float-right{
	float: right;
}
.thumbnail-gray{
	//background-color: #C2C2C2;
}
.user-post{
	font-size: 24px;
}
.home-panel{
	text-align:center;
	color:white;
	border-left: 5px solid white;
	margin-top:50px;
	height:80%;
	background-color: rgba(228, 0, 255, 0.3);
	input { /*forms*/
		background-color: rgba(228, 0, 255, 0);
	    width: 250px;
	    padding: 10px 20px;
	    margin: 5px 0;
	    border: 2px solid #FFF;
	    -webkit-transition: 0.5s;
	    transition: 0.5s;
	    outline: none;
	}
	input:focus { /* border fade black */
    	background-color: rgba(228, 0, 255, 0.45);
	}
	input[type="submit"] { /* buttons */
	    box-sizing: border-box;
	    
	    text-decoration: none;
	    cursor: pointer;
	    background-color: white;
	    color: rgba(228, 0, 255, 1);
	}
	input[type="submit"]:hover { /* buttons */
		color: white;
		background-color: rgba(228, 0, 255, 0);

	}
}
.login{
	padding-top: 70px;
}
.reg{
	padding-top: 10px;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(130, 70, 175, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(130, 70, 175, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(141, 66, 194, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(108, 36, 156, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #6c249c;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #6c249c;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #6c249c;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #8246af;
}
