/* line 2, style.scss */
body {
  background-color: #F4F4F4; }

/* line 5, style.scss */
.timetable {
  height: 600px;
  width: 1000px; }
  /* line 8, style.scss */
  .timetable tbody {
    border: none; }
  /* line 11, style.scss */
  .timetable tr {
    border: none; }
  /* line 15, style.scss */
  .timetable td {
    border: 0px solid white; }
  /* line 19, style.scss */
  .timetable .time {
    height: 30px; }
  /* line 22, style.scss */
  .timetable .head {
    text-align: center;
    background: #5A5A5A;
    color: white; }
  /* line 27, style.scss */
  .timetable .even {
    background: #f2f2f2; }

/* line 33, style.scss */
.profile-cover {
  min-height: 300px;
  max-height: 500px;
  background-color: white;
  background-size: cover;
  border: 0px solid white;
  position: relative; }

/* line 42, style.scss */
.profile-details {
  color: black;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 40px;
  text-align: center; }

/* line 51, style.scss */
.profile-pic {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  background-image: url(../pic/user.jpeg);
  background-size: cover;
  border: 5px solid white; }

/* line 59, style.scss */
.biograph {
  margin-top: 30px;
  margin-bottom: 30px; }
  /* line 62, style.scss */
  .biograph p.fr {
    font-size: 24px; }
    /* line 64, style.scss */
    .biograph p.fr b {
      font-size: 26px; }

/* line 69, style.scss */
.add-btn {
  text-decoration: none;
  color: white;
  font-size: 50px;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  position: fixed;
  padding: 0px 18px;
  background: red;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 10px 74px -5px black;
  -moz-box-shadow: 0px 10px 74px -5px black;
  box-shadow: 0px 10px 74px -5px black; }

/* line 86, style.scss */
.add-btn:hover {
  background: #CC0000;
  text-decoration: none;
  color: white; }

/* line 93, style.scss */
.index-body {
  width: 100%;
  height: 100%;
  background-image: url(../models/uploads/index-bg.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: fixed; }

/* line 102, style.scss */
.bg-blue {
  background: blue;
  height: 100%; }

/* line 106, style.scss */
.right-text {
  text-align: right; }

/* line 109, style.scss */
.float-right {
  float: right; }

/* line 115, style.scss */
.user-post {
  font-size: 24px; }

/* line 118, style.scss */
.home-panel {
  text-align: center;
  color: white;
  border-left: 5px solid white;
  margin-top: 50px;
  height: 80%;
  background-color: rgba(228, 0, 255, 0.3); }
  /* line 125, style.scss */
  .home-panel input {
    /*forms*/
    background-color: rgba(228, 0, 255, 0);
    width: 250px;
    padding: 10px 20px;
    margin: 5px 0;
    border: 2px solid #FFF;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none; }
  /* line 135, style.scss */
  .home-panel input:focus {
    /* border fade black */
    background-color: rgba(228, 0, 255, 0.45); }
  /* line 138, style.scss */
  .home-panel input[type="submit"] {
    /* buttons */
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: #e400ff; }
  /* line 146, style.scss */
  .home-panel input[type="submit"]:hover {
    /* buttons */
    color: white;
    background-color: rgba(228, 0, 255, 0); }

/* line 152, style.scss */
.login {
  padding-top: 70px; }

/* line 155, style.scss */
.reg {
  padding-top: 10px; }

/* line 160, style.scss */
.notification {
  font-size: 16px; }

/* line 166, style.scss */
#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: white; }

/* line 169, style.scss */
#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background-color: #8246af;
  border-width: 0px;
  border-radius: 0px; }

/* line 175, style.scss */
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
  color: white;
  background-color: #8246af; }

/* line 179, style.scss */
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: #8d42c2; }

/* line 184, style.scss */
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #6c249c; }

/* line 190, style.scss */
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #6c249c; }

/* line 193, style.scss */
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #6c249c; }

/* line 197, style.scss */
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #6c249c; }

/* line 200, style.scss */
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #8246af; }

/*# sourceMappingURL=style.css.map */


.td{
  position: absolute;
  background-color: #AA5DE4;
  width: 135px;
  height: 108px;
  text-align: center;
  color: white;

}
.td0{
  position: absolute;
  background-color: #AA5DE4;
  width: 135px;
  height: 108px;
  text-align: center;
  color: white;
  padding-top: 25px;
  font-size: 14px;
}
.td1{
  position: absolute;
  background-color: #caa9d0;
  width: 135px;
  height: 108px;
  text-align: center;
  color: white;
  padding-top: 25px;
  font-size: 14px;
}

